In [ ]:
import sys, os
sys.path.append(os.path.realpath('../'))
import itertools


import pandas as pd
import numpy as np
import collections

import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DATA-LUAN_VAN/raw.csv', encoding='utf-8').drop(columns=['peak', 'day_of_week'])
data = data.rename(columns={'ID': 'vehicle_id'})
group_id = data.groupby("vehicle_id")
# del data
n = len(group_id)
print(n)
data

46

,Unnamed: 0,vehicle_id,timestamp,longitude,latitude,velocity,route,region
0,0,100000025,2015-06-01 09:23:00,106.740,10.8014,44.68880,Xa Lộ Hà Nội,Phường Thảo Điền Quận 2
1,1,100000025,2015-06-01 09:24:00,106.739,10.8012,25.77980,Xa Lộ Hà Nội,Phường Thảo Điền Quận 2
2,2,100000025,2015-06-01 09:24:00,106.738,10.8012,10.03780,Thảo Điền,Phường Thảo Điền Quận 2
3,3,100000025,2015-06-01 09:24:00,106.738,10.8014,27.76150,Đướng Song Hành Xa Lộ Hà Nội,Phường Thảo Điền Quận 2
4,4,100000025,2015-06-01 09:24:00,106.737,10.8012,20.98320,Đướng Song Hành Xa Lộ Hà Nội,Phường Thảo Điền Quận 2
...,...,...,...,...,...,...,...,...
59063,59063,100000533,2015-06-04 12:18:00,106.635,10.8048,5.55600,Trường Chinh,Phường Tây Thạnh Quận Tân Phú
59064,59064,100000533,2015-06-04 12:18:00,106.636,10.8043,21.85360,Trường Chinh,Phường Tây Thạnh Quận Tân Phú
59065,59065,100000533,2015-06-04 12:18:00,106.636,10.8037,7.98212,Trường Chinh,Phường Tân Sơn Nhì Quận Tân Phú
59066,59066,100000533,2015-06-04 12:19:00,106.636,10.8035,1.55568,Trường Chinh,Phường Tân Sơn Nhì Quận Tân Phú
59067,59067,100000533,2015-06-04 12:19:00,106.636,10.8033,3.83364,Trường Chinh,Phường Tân Sơn Nhì Quận Tân Phú

In [ ]:
import numpy as np
z = []
for idx, g in enumerate(group_id):
     z.append(g[-1].shape[0])

print(max(z))
print(min(z))
print(np.mean(z))
print(np.median(z))
print(np.argmin(z))

5282
1
1284.0869565217392
1080.0
34

In [ ]:
for idx, g in enumerate(group_id):

    if idx == 15: # uncomment if get all
        break

    sys.stdout.write(f'\r{idx+1}/{n}')
    sys.stdout.flush()
    g0 = g[-1][:100]

    vehicle_id = g[0]
    longitude, latitude = g0['longitude'].tolist(), g0['latitude'].tolist()

    coords = list(zip(longitude,latitude))

    trituple_coords = list(itertools.combinations(coords,3))
    routes = list(itertools.combinations(g0['route'].tolist(),3))
    regions = list(itertools.combinations(g0['region'].tolist(),3))

    df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'routes', 'regions'])
    # df = pd.DataFrame(columns=['vehicle_id', 'routes', 'regions'])
    # trituple_coords
    for trituple, route, region in zip(trituple_coords,routes,regions):
        p_start, p_temp, p_end = trituple[0], trituple[1], trituple[2]

        feature = {
            "vehicle_id": vehicle_id,
            "p_start": p_start,
            "p_temp": p_temp,
            "p_end": p_end,
            "routes": list(route),
            "regions": list(region),
        }
        df = pd.concat([df,pd.DataFrame.from_dict(feature, orient='index').T], axis=0)

     #'data_id' contains t-drive. 'dataset' contains hcm
    try:
      df.to_csv(f"/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/{vehicle_id}.csv", encoding='utf-8')
    except:
      continue
      print("An exception occurred")
    del trituple_coords, routes, regions

6/46

In [ ]:
i=0
df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'routes', 'regions'])
path = '/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/'
# path
for filename in os.listdir('/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/'):
    print(filename)
    if filename == 'hcm' or filename=='.ipynb_checkpoints':
        continue
    x = pd.read_csv('/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/{}'.format(filename))
    x = x.drop(x.columns[0], axis=1)
    df = pd.concat([df,x], axis=0)

100000025.csv
100000095.csv
100000099.csv
100000270.csv
100000273.csv
100000275.csv

In [ ]:
i=0
df = pd.DataFrame(columns=['vehicle_id', 'p_start', 'p_temp', 'p_end', 'timestamp'])
print ('lllllll-llllllll')
for filename in os.listdir('/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/'):
  print(filename)
  if filename == 'hcm' or filename=='.ipynb_checkpoints':
        continue

  x = pd.read_csv('/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/{}'.format(filename), encoding='utf-8-sig')
  x = x.drop(x.columns[0], axis=1)
  df = pd.concat([df,x], axis=0)

lllllll-llllllll
100000025.csv
100000095.csv
100000099.csv
100000270.csv
100000273.csv
100000275.csv

In [ ]:
df

,vehicle_id,p_start,p_temp,p_end,timestamp,routes,regions
0,100000025,"(106.74, 10.8014)","(106.739, 10.8012)","(106.738, 10.8012)",NaN,"['Xa Lộ Hà Nội', 'Xa Lộ Hà Nội', 'Thảo Điền']","['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ..."
1,100000025,"(106.74, 10.8014)","(106.739, 10.8012)","(106.738, 10.8014)",NaN,"['Xa Lộ Hà Nội', 'Xa Lộ Hà Nội', 'Đướng Song H...","['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ..."
2,100000025,"(106.74, 10.8014)","(106.739, 10.8012)","(106.737, 10.8012)",NaN,"['Xa Lộ Hà Nội', 'Xa Lộ Hà Nội', 'Đướng Song H...","['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ..."
3,100000025,"(106.74, 10.8014)","(106.739, 10.8012)","(106.736, 10.8022)",NaN,"['Xa Lộ Hà Nội', 'Xa Lộ Hà Nội', 'Nguyễn Bá Lân']","['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ..."
4,100000025,"(106.74, 10.8014)","(106.739, 10.8012)","(106.736, 10.8027)",NaN,"['Xa Lộ Hà Nội', 'Xa Lộ Hà Nội', 'Nguyễn Bá Lân']","['Phường Thảo Điền Quận 2', 'Phường Thảo Điền ..."
...,...,...,...,...,...,...,...
161695,100000275,"(106.675, 10.7586)","(106.676, 10.7598)","(106.677, 10.7607)",NaN,"['Đường Trần Phú', 'Đường Trần Phú', 'Đường Lê...","['Phường 4 Quận 5', 'Phường 4 Quận 5', 'Phường..."
161696,100000275,"(106.676, 10.759)","(106.676, 10.7593)","(106.676, 10.7598)",NaN,"['Đường Trần Nhân Tôn', 'Đường Trần Phú', 'Đườ...","['Phường 2 Quận 10', 'Phường 4 Quận 5', 'Phườn..."
161697,100000275,"(106.676, 10.759)","(106.676, 10.7593)","(106.677, 10.7607)",NaN,"['Đường Trần Nhân Tôn', 'Đường Trần Phú', 'Đườ...","['Phường 2 Quận 10', 'Phường 4 Quận 5', 'Phườn..."
161698,100000275,"(106.676, 10.759)","(106.676, 10.7598)","(106.677, 10.7607)",NaN,"['Đường Trần Nhân Tôn', 'Đường Trần Phú', 'Đườ...","['Phường 2 Quận 10', 'Phường 4 Quận 5', 'Phườn..."
161699,100000275,"(106.676, 10.7593)","(106.676, 10.7598)","(106.677, 10.7607)",NaN,"['Đường Trần Phú', 'Đường Trần Phú', 'Đường Lê...","['Phường 4 Quận 5', 'Phường 4 Quận 5', 'Phường..."

In [ ]:
df.to_csv(f"/content/drive/MyDrive/DATA-LUAN_VAN/data_id_hcm/bo3_hcm.csv", encoding='utf-8-sig', index=False)